<section id="biography">
<div class="container">
  <h3>Biography</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5> Qipeng Liu received his B.S. degree in automation from Jinan University, Shandong, China, in
2007, his M.S. degree in control theory and control
engineering from the Jiangsu University of Science
and Technology, Zhenjiang, China, in 2009, and his
Ph.D. degree in control theory and control engineering from Shanghai Jiao Tong University, Shanghai,
		  China, in 2014. From Sep. 2012 to Aug. 2013, he was a visiting student in the Department of Electrical and Computer Engineering at University of Virginia, USA.</h5>
		  <h5>In July 2014, he joined the Institute of Complexity Science, Qingdao
		  University, Qingdao, China. Since Sep. 2016, he has been with the School of Electrical and Electronic Engineering at Nanyang Technological University, Singapore, as a research fellow.</h5>
<h5>
		  His current research
interests include secure control system and its application on autonomous vehicles, information diffusion in social networks,
and cooperative control of multiagent systems.
		</h5>

    </div>
  </div>
</div>
</section>
