<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <h5>(In Chinese)</h5>
		<h5>
		  <ol>
		    <li>国家自然科学基金项目，61503207，基于连续观点演化模型的竞争影响力最大化问题研究，2016/01-2018/12，21万元，主持</li>
		    <li>青岛市博士后应用研究项目，2015123，基于多智能体信息融合的传感器网络分布式检测算法研究，2016/01-2016/12，5万元，主持</li>
		    <li>山东省自然科学基金项目，ZR2015PF003，基于贝叶斯法则与一致性协议的传感器网络分布式检测算法，2015/07-2016/12，4万元，主持</li>
		    <li>中国博士后科学基金项目，2015M571997，基于贝叶斯后验概率线性一致的多传感器分布式检测，2015/05-2016/11, 5万元，主持</li>
		  </ol>
		</h5>


    </div>
  </div>
</div>
</section>
