<section id="publications">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <h5>
      <ol>
	<li> Yunhong Zhang, <strong>Qipeng Liu</strong>, Siying Zhang. Opinion formation with time-varying bounded confidence. PLoS ONE 12(3): e0172982, 2017. <a href="/assets/pdf/yunhong2017_plosone.pdf">[pdf]</a></li> 
	<li> Jiuhua Zhao, <strong>Qipeng Liu</strong>, Lin Wang, and Xiaofan Wang. Competitive seeds-selection in complex networks. Physica A 467: 240-248, 2017. <a href="/assets/pdf/jiuhua2017_physicaA.pdf">[pdf]</a></li>
	<li> Jiuhua Zhao,<strong> Qipeng Liu</strong>, Lin Wang, and Xiaofan Wang. Competitiveness Maximization on Complex Networks. IEEE Transactions on systems, man, and cybernetics: systems. In press. DOI: 10.1109/TSMC.2016.2636240. 2016. <a href="/assets/pdf/jiuhua2016_smc.pdf">[pdf]</a></li>
	<li><strong> Qipeng Liu</strong>, Jiuhua Zhao, and Xiaofan Wang. Multi-agent model of group polarization with biased assimilation of arguments, IET Control Theory and Applications 9(3): 485–492, 2015. <a href="/assets/pdf/qipeng2015_iet.pdf">[pdf]</a></li>
	<li><strong> Qipeng Liu</strong> and Xiaofan Wang. Social learning in networks with time-varying topologies, Asian Journal of Control 16(5): 1342–1349, 2014. <a href="/assets/pdf/qipeng2014_ajc.pdf">[pdf]</a></li>
	<li><strong> Qipeng Liu</strong>, Aili Fang, Lin Wang, and Xiaofan Wang. Social learning with time-varying weights, Journal of Systems Science and Complexity 27(3): 581–593, 2014. <a href="/assets/pdf/qipeng2014_jssc.pdf">[pdf]</a></li>
	<li> Jiuhua Zhao,<strong> Qipeng Liu</strong>, and Xiaofan Wang. Competitive dynamics on complex networks, Scientific Reports 4:5858, 2014. <a href="/assets/pdf/jiuhua2014_sr.pdf">[pdf]</a></li>
	<li> Dequan Li, <strong>Qipeng Liu</strong>, Xiaofan Wang, and Zhixiang Yin. Quantized consensus over directed networks with switching topologies, Systems & Control Letters 65: 13–22, 2014. <a href="/assets/pdf/dequan2014_scl.pdf">[pdf]</a></li>
	<li><strong> Qipeng Liu</strong> and Xiaofan Wang. Opinion dynamics with similarity-based random neighbors, Scientific Reports 3:2968, 2013. <a href="/assets/pdf/qipeng2013_sr.pdf">[pdf]</a></li>
	<li> <strong>Qipeng Liu</strong> and Xiaofan Wang. Social learning with bounded confidence and heterogeneous agents, Physica A 392(10): 2368–2374, 2013. <a href="/assets/pdf/qipeng2013_physicaA.pdf">[pdf]</a></li>
	<li> Dequan Li,<strong> Qipeng Liu</strong>, Xiaofan Wang and Zongli Lin. Consensus seeking over directed networks with limited information communication, Automatica 49(2): 610–618, 2013. <a href="/assets/pdf/dequan2013_automatica.pdf">[pdf]</a></li>
	<li> Dequan Li,<strong> Qipeng Liu</strong>, and Xiaofan Wang. Distributed quantized consensus for agents on directed networks, Journal of Systems Science and Complexity 26(4): 489–511, 2013. <a href="/assets/pdf/dequan2013_jssc.pdf">[pdf]</a></li>
      </ol>
      </h5>
    </div>
  </div>
</div>
</section>
